


{% extends 'base.html' %}
{% block title %}Panel{% endblock %}

{% block content %}
<center>

<div class="container">
<form method="post" class="form-horizontal">
 <div class="form-group">
{% csrf_token %}
  {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}


     </div>

      <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
     </div>
</form>
</div>
</center>
{% endblock %}